<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
<link rel="stylesheet" href="/static/css/style.css" type="text/css" >
<link rel="stylesheet" href="/static/css/colors/red.css" type="text/css" >
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.isotope.js" type="text/javascript"></script>
</head>
<body>
<script>
$(function(){

	var imgs = [];
	var interval = 0;
	var firstTime = true;
	$('#entry-listing').isotope({
		itemSelector : 'article.entry'
	});
	
	function addImage(imgurl){
		var $newItems = 
			$('<article>').attr('class', 'post-215 entry box format-image').append(
				$('<div>').attr('class', 'entry-content-cnt').append(
					$('<div>').attr('class', 'entry-content').append(
						$('<img>').attr('src', imgurl).attr('class', 'attachment-ci_listing_thumb')
					)
				)
			);
		$('#entry-listing').prepend( $newItems).isotope( 'reloadItems').isotope({ sortBy: 'original-order' });

	};

	
	function updateIsotope(){
		var $container = $('#entry-listing');
		$container.imagesLoaded( function(){
			$container.isotope({
				itemSelector : 'article.entry'
			});
			setWidth();
		});
		
		$container.delegate( 'article.entry', 'click', function(){
			$(this).toggleClass('large');
			$container.isotope('reLayout');
		});
	};	

	(function poll(){
		setTimeout(function(){
			imgList = [];
			$.ajax({
				url: "/api/v1/image/?format=json&tag={{tag}}&order_by=-pub_date",
				  contentType: 'application/json; charset=utf-8',
				  type: 'GET',
				  timeout: 2000,
				  dataType: 'json',
				  success: function (result) {
					var itemAdded = false;
					$.each(result.objects.reverse(), function(i,item){
						var result = $.grep(imgs, function(e){ return e.id == item.id; });
						if(result.length==0){
							addImage(item.url);					
							imgs.push(item);
							itemAdded = true;
						}
					});
					if (itemAdded & firstTime)
						updateIsotope();
					if (!firstTime)
						$('#entry-listing').isotope('reLayout');
					firstTime = false;
					interval = 10000;
					poll();
				  },
				  error : function(xhr, status){ }
			});
		}, interval);
	})();
function setWidth() {

  // Page width calculations

  jQuery(window).resize(setContainerWidth);
  var $box = jQuery(".box");

  function setContainerWidth() {
    var columnNumber = parseInt((jQuery(window).width()+15) / ($box.outerWidth(true))),
      containerWidth = (columnNumber * $box.outerWidth(true)) - 15;

    if ( columnNumber > 1 )  {
      jQuery("#box-container").css("width",containerWidth+'px');
    } else {
      jQuery("#box-container").css("width", "100%");
    }

  }

  setContainerWidth();

};

});
</script>


<div id="box-container">
	<div id="entry-listing" class="group">

	</div>
</div>
</body>
</html>
