{% extends "main/base.html" %}
{% block topnav %} <center><h1 style="margin-bottom: 0px;"> {{tag}}</h1></center>{% endblock %}
{% block content %}


<script>
$(function(){

	$.ajax({
		url: "http://192.168.1.236:8000/api/v1/image/?format=json&tag={{tag}}",
		  contentType: 'application/json; charset=utf-8',
          type: 'GET',
          dataType: 'json',
		  success: function (result) {
			$.each(result.objects, function(i,item){
				$('#entry-listing').append(
					$('<article>').attr('class', 'post-215 entry box format-image').append(
						$('<div>').attr('class', 'entry-content-cnt').append(
							$('<div>').attr('class', 'entry-content').append(
								$('<img>').attr('src', item.url).attr('class', 'attachment-ci_listing_thumb')
							)
						)
					)
				);
			});

			var $container = $('#entry-listing');
			$container.imagesLoaded( function(){
				$container.isotope({
					itemSelector : 'article.entry'
				});
				setWidth();
			});
			$container.delegate( 'article.entry', 'click', function(){
				$(this).toggleClass('large');
				$container.isotope('reLayout');
			});
		  },
		  error : function(xhr, status){ alert(status); }
	});


});
</script>


<div id="box-container">
	<div id="entry-listing" class="group">

	</div>
</div>

{% endblock %}

