{% extends "main/base.html" %}

{% block topnav %}

<ul id="navigation" class="group">
	<li><a href="#" class="new">New</a></li>
	<li><a href="#" class="popular">Popular</a></li>
	<li><a href="#" class="near">Near</a></li>
	<li><a href="#" class="all">All</a></li>
</ul>
{% endblock %}
				
{% block content %}



<script type="text/javascript">
$(function(){

	getTagz("http://127.0.0.1:8000/api/v1/tag/?format=json", {"order_by" : "-weigth"}); // show new tagz
	var lati = 1000;
	var longi = 1000;
	$.geolocator.geolocate({
		callback: function(geolocation_data) {
			lati = geolocation_data.latitude;
			longi = geolocation_data.longitude;
		},
	});

	$(".new").click(function(){getTagz("http://127.0.0.1:8000/api/v1/tag/?format=json", {"order_by" : "-weigth"})});
	$(".popular").click(function(){getTagz("http://127.0.0.1:8000/api/v1/tag/?format=json", {"order_by" : "-weigth"})});
	$(".near").click(function(){getTagz("http://127.0.0.1:8000/api/v1/tag/?format=json", {"lat" : lati, "lon" : longi})});
	$(".all").click(function(){getTagz("http://127.0.0.1:8000/api/v1/tag/?format=json", {})});
	
	function getTagz(servurl, data)
	{
		$.ajax({
				url: servurl,
				contentType: 'application/json; charset=utf-8',
				type: 'GET',
				dataType: 'json',
				data : data,
				success: function (result) { 
					var cloudlist = new Array();
					$.each(result.objects, function(i,item){
						cloudlist.push({text: item.name, weight:item.weigth, link: "/tag/"+item.name});
					});
					$("#clovd").empty();
					$("#clovd").jQCloud(cloudlist);				  
				  },
				error : function(xhr, status){ alert(status); }
			});
	}
});

</script>
<script type="text/javascript" src="/static/js/jqcloud-1.0.2.min.js"> </script>

<div class="inner-container full group">
	<div class="box-hold group">
		<article class="post-6 page type-page status-publish hentry entry box" id="post-6">

			<div class="entry-content group">
				<div id="clovd" style="height: 350px;"></div>
			</div>

		</article>
	</div><!-- .box-hold -->
</div>
{% endblock %}
