{% extends "main/base.html" %}

{% block content %}
<div class="inner-container full group">
	<div class="box-hold group">
		<article class="post-6 page type-page status-publish hentry entry box" id="post-6">

			<div class="entry-content group">
				<div id="jquery-wrapped-fine-uploader"></div>
			</div>

		</article>
	</div><!-- .box-hold -->
</div>

 
<script src="/static/js/jquery.fineuploader-3.0.min.js" type="text/javascript" ></script>

<script type="text/javascript" >
	$(document).ready(function () {
		var lati = 1000;
		var longi = 1000;
		$.geolocator.geolocate({
			callback: function(geolocation_data) {
				lati = geolocation_data.latitude;
				longi = geolocation_data.longitude;
			},
		});
		$('#jquery-wrapped-fine-uploader').fineUploader({
			request: {
					endpoint: '/upload2/{{tag}}/' + '?lat=' + lati + '&lon=' + longi
				},
			debug: true
		});
	});
</script>

{% endblock%}