/* fonts */

div.jqcloud {
  font-family: 'Yanone Kaffeesatz','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 10px;
  line-height: normal;
  width: 100%;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #f00; }
div.jqcloud a:hover { color: #f00; }

div.jqcloud span.w10 { color: #e36d6d; }
div.jqcloud span.w9 { color: #e3776d; }
div.jqcloud span.w8 { color: #e3816d; }
div.jqcloud span.w7 { color: #e38a6d; }
div.jqcloud span.w6 { color: #e3946d; }
div.jqcloud span.w5 { color: #e39e6d; }
div.jqcloud span.w4 { color: #e3a86d; }
div.jqcloud span.w3 { color: #e3b26d; }
div.jqcloud span.w2 { color: #e3bc6d; }
div.jqcloud span.w1 { color: #e3c56d; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }